:root {

    /* --------------------------------------------------
       Farben
    -------------------------------------------------- */

    --color-background: #f3f3f3;

    --color-header: #ffffff;
    --color-navbar: #ffffff;

    --color-text: #ffffff;
    --color-content-text: #222222;

    --color-border: #555555;

    /* --------------------------------------------------
       Größen
    -------------------------------------------------- */

    --header-height: 60px;
    --navbar-width: 250px;

}

