
/* --------------------------------------------------
   Aktuelle Ansicht
-------------------------------------------------- */

#view {
    grid-area: view;
    background: var(--color-background);
    color: var(--color-content-text);
    display: grid;
    grid-template-columns: 2% 96% 2%;
    grid-template-rows: 10% auto 5%;
    grid-template-areas:
      "header header header"
      "left content right"
      "left empty right";
    overflow: auto;
}

.view-header {
   grid-area: header;
   display: flex;
   align-items: center;
   padding-left: 2%;
   font-size: xx-large;
   font-weight: bold;
}

.view-content {
   grid-area: content;
   border-radius: 8px;
   background-color: white;
   min-height: 0;
   overflow: auto;
}

.view-content-scrollable {
   grid-area: content;
   border-radius: 8px;
   background-color: white;
}

.project-node-children {

    margin-left: 60px;

    padding-top: 8px;

}